.titulo{
  text-align: center;
}

fa{
  cursor: pointer;
}

.green-icon{
  color: green;
}

.red-icon{
  color: red;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

 button .example-button-row {
  display: table-cell;
  width: 100%;
  color: green;
}