<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h3 class="titulo">TARjETA CREDITO</h3>
        </div>
      </div>
    </div>
  </div>
  
          <h5 class="titulo">AGREGAR TARJETA</h5>
          
            <form [formGroup]="form" (ngSubmit)="agregarTarjeta()" class="example-form ">
              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill"
                  [class.green-icon]="this.form.get('titulo')?.valid"
                  [class.red-icon]="this.form.get('titulo')?.invalid && this.form.get('titulo')?.touched">
                  <mat-label>First name</mat-label>
                  <input matInput formControlName="titulo" type="text" class="form-control" placeholder="titular">
                </mat-form-field></td>
              </tr></table>

              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill"
                  [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                  [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched" >
                  <mat-label>Tarjeta de credito</mat-label>
                  <input matInput formControlName="numeroTarjeta" maxlength="12" type="text" class="form-control"  placeholder="numero de tarjeta" pattern="[A-Za-z ]">
                </mat-form-field></td>
              </tr></table>
        
              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width" appearance="fill"
                  [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                      [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched">
                  <mat-label>Fecha Expiracion</mat-label>
                  <input matInput formControlName="fechaExpiracion" maxlength="5" type="text" class="form-control" placeholder="MM/YY">

                </mat-form-field></td>
                <td><mat-form-field class="example-full-width" appearance="fill"
                  [class.green-icon]="this.form.get('cvv')?.valid"
                      [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched">
                  <mat-label>cvv</mat-label>
                  <input matInput formControlName="cvv" maxlength="3" type="password" class="form-control" placeholder="cvv">
                </mat-form-field></td>
              </tr></table>

              <div class="example-button-row">
                <button mat-raised-button color="green" [disabled]="this.form.invalid" type="submit">
                  <i class="fa-solid fa-database"></i>&nbsp; Aceptar</button>
              </div>
            </form>
          
        </div>


        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
          <th mat-header-cell *matHeaderCellDef> LISTADO DE TARJETAS </th>
          <!-- Position Column -->
          <ng-container matColumnDef="titulo">
            <td mat-cell *matCellDef="let element"> {{tarjeta.titulo}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="numeroTarjeta">
            <td mat-cell *matCellDef="let element"> {{tarjeta.numeroTarjeta}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="fechaExpiracion">
            <td mat-cell *matCellDef="let element"> {{tarjeta.fechaExpiracion}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaExpiracion">
            <i class="fa-solid fa-pen-to-square text-info"></i>
          </ng-container>

          <ng-container matColumnDef="fechaExpiracion">
            <i class="fa-solid fa-trash-can text-danger"></i>
          </ng-container>
        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>



  
    
